body {
  font-family: 'Itim', cursive;
  color: #362a0f;
  background: url('../img/bg.png');
  padding-bottom: 60px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 30;
}

.header {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header > h1 {
  margin: 0;
}

.header > img {
  width: 15%;
}

.main_container {
  background: #fff;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 0 0 30px #ddd;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn_upload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.form-control:hover {
  border-color: #362a0f;
}

.form-control:focus {
  border-color: #362a0f;
  box-shadow: 0 0 2px #362a0f;
}

#loading {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

#output {
  display: block;
  font-size: 24px;
  color: #fff;
  margin-top: 5%;
  border-radius: 5px;
  box-shadow: 0 0 30px #ddd;
  text-align: center;
}

#output_data {
  margin: 0 8px;
}

#img {
  border: 20px solid #fff;
  margin: 0 auto;
}

.output_title {
  font-size: 24px;
  background: #362a0f;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}
